@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: black;

  --sm-h1: 40px;
  --sm-font: 20px;
  --lg-h1: 50px;
  --lg-font: 24px;

  --font-family-h1: "Sevillana", cursive;
  --font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-primary);

  color: white;
  font-family: var(--font-family);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description h1 {
  margin: 50px 0px 20px 0px;
  font-size: var(--sm-h1);
  font-family: var(--font-family-h1);
  font-weight: 100;
}

.description h4 {
  margin: 0px 0px 50px 0px;
  font-size: calc(var(--sm-font) - 2px);
  opacity: 0.5;
}

p {
  font-size: var(--sm-font);
  line-height: 1.7;
}

span {
  color: #ef0107;
  font-weight: bold;
}

.double-mark{
  opacity: 0.5;
  font-size: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {  
  margin-top: 80px;
  height: 400px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 10px double #ef0107;

}


h2 {
  font-size: 30px;
  margin-bottom: 80px;
  text-align: center;
}


.ion-icon{
input{
  display: flex;

}

input:focus ~ label,
input:valid ~ label{
	top: -5px;
}
